/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Georgia, serif;
  color: #ffffff;
  background-color: #101524;
}

h1, h2 {
  font-family: 'Playfair Display';
  color: #fff;
}

h6 {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Roboto Mono", sans-serif;
  color: #38F9D4;
}

a {
  color: #3f538e;
  text-decoration: none;
}

a:hover {
  color: #38f9d4;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

.top_bar {
  position: absolute;
  z-index: 1;
}

/*-----------------------Top Navigation-----------------------*/

nav ul li {
  font-family: 'Roboto Mono', helvetica, arial, sans-serif;
  font-size: 12px;
  position: relative;
  display: inline-block;
  padding: 3px 0 3px 0;
  margin: 25px 20px;
  outline: none;
  color: #fff;
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  outline: none;
}

.cl-effect-21 a {
  color: #838B91;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #38F9D4;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.cl-effect-21 a::before {
  top: -5px;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.cl-effect-21 a::after {
  bottom: -5px;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
  color: #fff;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.top_bar {
  height: 71px;
  width: 100%;
}

.logo {
  float: left;
  height: 70px;
  width: 70px;
}

.projects-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.projects-container::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.projects-container .cd-single-project {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  /* on mobile -  move items outside the viewport */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.projects-container .cd-single-project::after {
  /* background image */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 25vh;
  width: 100%;
  background-image: url("../img/techweek/techweek_small.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.5s, height 0.4s;
  -moz-transition: opacity 0.5s, height 0.4s;
  transition: opacity 0.5s, height 0.4s;
}
.projects-container .cd-single-project::before {
  /* never visible - this is used in jQuery to detect if the background image has been loaded  */
  content: 'img/techweek/techweek_small.jpg';
  display: none;
}
.projects-container .cd-single-project:nth-of-type(2) {
  top: 25vh;
}
.projects-container .cd-single-project:nth-of-type(2)::after {
  background-image: url("../img/kenshotree/kenshotree_small.jpg");
}
.projects-container .cd-single-project:nth-of-type(2)::before {
  content: 'img/kenshotree/kenshotree_small.jpg';
}
.projects-container .cd-single-project:nth-of-type(3) {
  top: 50vh;
}
.projects-container .cd-single-project:nth-of-type(3)::after {
  background-image: url("../img/elevate_small.jpg");
}
.projects-container .cd-single-project:nth-of-type(3)::before {
  content: 'img/elevate_small.jpg';
}
.projects-container .cd-single-project:nth-of-type(4) {
  top: 75vh;
}
.projects-container .cd-single-project:nth-of-type(4)::after {
  background-image: url("../img/localguide_small.jpg");
}
.projects-container .cd-single-project:nth-of-type(4)::before {
  content: 'img/localguide_small.jpg';
}
.projects-container .cd-single-project.is-loaded {
  /* move items in the viewport when background images have been loaded */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.projects-container .cd-single-project.is-full-width {
  /* selected item */
  top: 0;
  height: auto;
  z-index: 1;
  cursor: auto;
  -webkit-transition: z-index 0s 0s, top 0.4s 0s;
  -moz-transition: z-index 0s 0s, top 0.4s 0s;
  transition: z-index 0s 0s, top 0.4s 0s;
}
.projects-container .cd-single-project.is-full-width::after {
  height: 100vh;
}
@media only screen and (min-width: 1024px) {
  .projects-container::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .projects-container .cd-single-project {
    width: 25vw;
    height: 100%;
    opacity: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: width 0s;
    -moz-transition: width 0s;
    transition: width 0s;
  }
  .projects-container .cd-single-project:first-of-type::before {
    content: 'img/techweek/techweek_large.jpg';
  }
  .projects-container .cd-single-project:first-of-type::after {
    background-image: url("../img/techweek/techweek_large.jpg");
  }
  .projects-container .cd-single-project:nth-of-type(2) {
    top: 0;
    left: 25vw;
  }
  .projects-container .cd-single-project:nth-of-type(2)::before {
    content: 'img/kenshotree/kenshotree_large.jpg';
  }
  .projects-container .cd-single-project:nth-of-type(2)::after {
    background-image: url("../img/kenshotree/kenshotree_large.jpg");
  }
  .projects-container .cd-single-project:nth-of-type(3) {
    top: 0;
    left: 50vw;
  }
  .projects-container .cd-single-project:nth-of-type(3)::before {
    content: 'img/elevate_large.jpg';
  }
  .projects-container .cd-single-project:nth-of-type(3)::after {
    background-image: url("../img/elevate_large.jpg");
  }
  .projects-container .cd-single-project:nth-of-type(4) {
    top: 0;
    left: 75vw;
  }
  .projects-container .cd-single-project:nth-of-type(4)::before {
    content: 'img/localguide_large.jpg';
  }
  .projects-container .cd-single-project:nth-of-type(4)::after {
    background-image: url("../img/localguide_large.jpg");
  }
  .projects-container .cd-single-project::after {
    height: 100vh;
    width: 100%;
    opacity: 0;
  }
  .projects-container .cd-single-project.is-loaded {
    /* show items when background images have been loaded */
    opacity: 1;
  }
  .projects-container .cd-single-project.is-loaded::after {
    opacity: 1;
  }
  .projects-container .cd-single-project.is-full-width {
    /* selected item */
    left: 0vw;
    width: 100vw;
    -webkit-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
    -moz-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
    transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
  }
}
@media only screen and (min-width: 1170px) {
  .projects-container .cd-single-project::after {
    background-attachment: fixed;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.8s, opacity 0.5s;
    -moz-transition: -moz-transform 0.8s, opacity 0.5s;
    transition: transform 0.8s, opacity 0.5s;
  }
  .projects-container .cd-single-project.is-loaded::after {
    opacity: 0;
  }
  .no-touch .projects-container .cd-single-project:hover::after, .projects-container .cd-single-project.is-full-width.is-loaded::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.cd-title {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 12.5vh;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.is-full-width .cd-title {
  top: 50vh;
  -webkit-transition: opacity 0s, top 0.4s;
  -moz-transition: opacity 0s, top 0.4s;
  transition: opacity 0s, top 0.4s;
}
.cd-title > * {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-title h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}
.cd-title h6 {
  line-height: 1.2;
  padding: .4em 2em;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .cd-title {
    top: 50vh;
    width: 25vw;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-20px);
    -moz-transform: translateY(-50%) translateX(-20px);
    -ms-transform: translateY(-50%) translateX(-20px);
    -o-transform: translateY(-50%) translateX(-20px);
    transform: translateY(-50%) translateX(-20px);
  }
  .is-loaded .cd-title {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s, left 0.4s;
    -moz-transition: -moz-transform 0.6s, opacity 0.6s, left 0.4s;
    transition: transform 0.6s, opacity 0.6s, left 0.4s;
  }
  .is-loaded.is-full-width .cd-title {
    left: 37.5vw;
    -webkit-transition: -webkit-transform 0.6s, opacity 0s, left 0.4s;
    -moz-transition: -moz-transform 0.6s, opacity 0s, left 0.4s;
    transition: transform 0.6s, opacity 0s, left 0.4s;
  }
  .cd-title h6 {
    display: block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-title h2 {
    font-size: 3.6rem;
  }
}

.cd-project-info {
  clear: both;
  visibility: hidden;
  opacity: 0;
  margin-top: 100vh;
  padding: 4em 0;
  cursor: auto;
  background-color: #ffffff;
  color: #3f538e;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  transition: opacity 0.4s 0s, visibility 0s 0.4s;
}
.is-full-width .cd-project-info {
  visibility: visible;
  opacity: 1;
}
.cd-project-info .techweek_main {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2;
}

.cd-project-info .techweek_main .deliverables{
  display: inline-block;
  margin-right: 150px;
}

.cd-project-info .techweek_main h2 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #3f538e;
}

.hero img{
  width: 100%;
}

.cd-project-info .techweek_main p {
  padding-bottom: 25px;
}

.style_tile {
  padding-bottom: 25px;
}

.style_tile img {
  height: auto;
  width: 49%;
  margin-top: 25px;
}

.style_tile01 img {
  float: left;
  margin-right: 15px;
}

.sketches img{
  height: auto;
  width: 100%;
  margin-top: 25px;
  padding-bottom: 25px;
}

.elevate_logo img{
  height: auto;
  width: 100%;
  margin-top: 25px;
  padding-bottom: 25px;
}

.colors {
  padding-bottom: 25px;
}

.colors img {
  height: auto;
  width: 100%;
  margin-top: 25px;
}

.typography img {
  height: auto;
  width: 100%;
  margin-top: 25px;
  padding-bottom: 50px;
}

.screens img {
  height: auto;
  width: 100%;
}

.screen_layout {
  padding-bottom: 50px;
}

.cd-project-info .techweek_main h6
@media only screen and (min-width: 1024px) {
  .cd-project-info {
    position: relative;
    z-index: 1;
  }
}

.projects-container .cd-close,
.projects-container .cd-scroll {
  displasy: block;
  z-index: 1;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: -webkit-transform 1s 0s, visibility 0s 1s;
  -moz-transition: -moz-transform 1s 0s, visibility 0s 1s;
  transition: transform 1s 0s, visibility 0s 1s;
}

.projects-container .cd-close {
  position: fixed;
  top: 30px;
  right: 5%;
  background: url("../img/cd-icon-close-mobile.svg") no-repeat center center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
@media only screen and (min-width: 1170px) {
  .projects-container .cd-close {
    background-image: url("../img/cd-icon-close-desktop.svg");
  }
}

.projects-container .cd-scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  background: url("../img/cd-icon-arrow-mobile.svg") no-repeat center center;
}
@media only screen and (min-width: 1170px) {
  .projects-container .cd-scroll {
    background-image: url("../img/cd-icon-arrow-desktop.svg");
  }
}

.project-is-open .cd-close,
.project-is-open .cd-scroll {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
}

.project-is-open .cd-scroll {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-animation: cd-translate 1.2s 0.4s;
  -moz-animation: cd-translate 1.2s 0.4s;
  animation: cd-translate 1.2s 0.4s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

.no-touch .project-is-open .cd-close:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.no-touch .project-is-open .cd-scroll:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
  -moz-transform: translateX(-50%) scale(1.2);
  -ms-transform: translateX(-50%) scale(1.2);
  -o-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
}

@-webkit-keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}
@-moz-keyframes cd-translate {
  0% {
    -moz-transform: translateX(-50%) scale(1);
  }
  50% {
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -moz-transform: translateX(-50%) scale(1);
  }
}
@keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    -o-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}
